<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<% if @user.ratings.empty? %>
  <p>has not yet rated any beers</p>
<% else %>
  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  </p>

  <p>Favorite brewery: <%=@user.favorite_brewery.name %> </p>
  <p>Favorite beer: <%=@user.favorite_beer %> </p>
  <p>Favorite style: <%=@user.favorite_style %> </p>
<% end %>

<% if @user.beer_clubs.any? %>
  member of
  <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
  <% end %>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Change password', edit_user_path(@user) %>
  <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></
<% end %>
