<p id="notice"><%= notice %></p>

<h2> <%= @style.name %> </h2>

<p>
  <%= @style.description %>
</p>

<h3>beers</h3>

<ul>
  <% @style.beers.each do |beer| %>
    <li>
      <%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
