<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<em>
  established in
  <%= @brewery.year %>
</em>

<p> Number of beers
  <%= @brewery.beers.count %>
</p>

<ul>
 <% @brewery.beers.each do |brewery| %>
  <li>
    <%= link_to brewery.name, brewery %>
  </li>
 <% end %>
</ul>

<% if @brewery.ratings.empty? %>
  beers of the brewery has not yet been rated!
<% else %>
  Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= @brewery.average_rating %>
<% end %>

<br>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
